body {
	width: 960px;
	margin-left: 185px;
}

.fx-titulo-painel {
	background-color: rgb(192, 192, 192);
	text-align: center;
}

.container-fluid {
	padding-left: 0;
}

.menu-navegacao {

}

.apontamentos {
	
}

.tarefas {
	
}

.usuarios {
	
}

.navbar-fixed-bottom {
	width: 960px;
	height: 25px;
	margin-left: 185px;
}

.form-login {
	background-color: rgb(100, 106, 251);
	width: 400px;
	height: 250px;
}