.fx-titulo-painel {
	background-color: rgb(192, 192, 192);
	text-align: center;
}

.container-fluid {
	padding-left: 0;
}

.menu-navegacao {

}

.apontamentos {
	
}

.tarefas {
	
}

.usuarios {
	
}

.form-usuario {
	margin-left: 520px;
	width: 300px;
}